body ,html{
    background: radial-gradient(circle, rgba(38,38,38,1) 0%, rgba(6,6,6,1) 100%);
}
.sidebar{
    background-color: #060606;
}
.detail-title a{
    color: white;
}
.modal-header {
    background-color: #060606;
}
.modal-body{
    background-color: #060606;
}
.modal-footer{
    background-color: #060606;
}
.modal-header {
    color: #ffffff;
}
.detail-title{
    color: #ffffff;
}
.detail{
    color: #ffffff;
}
.detail a{
    color: wheat;
}