.detail-title{
    padding: 15px;
}
.detail-title .language{
    float: right;
}
.modal{
    padding: 25px;
}
.modal .modal-dialog .modal-content .modal-body button{
   width: 200px;
   margin: 15px;
}
.sidebar{
  width: 250px;
  position: fixed;
  padding: 0px;
}
.detail{
    width: 230px;
    text-align: left;
    padding-top: 5rem;
}
.detail .display-6{
    font-size: 2rem;
}
.detail a{
    text-decoration: none;
}
main{
   margin: 5rem 0px 0px 15rem;
}
.card{
    margin-top: rem;
}